<!DOCTYPE html><html><head><title>Command Center</title></head>
<body>
<h1>Bienvenue, <%= profile.full_name %></h1>
<p>Agence : <%= profile.agencies.name %></p>
<a href="/sites/new">Créer un site</a> | <a href="/sites">Mes sites</a> | <a href="/logout">Déconnexion</a>
</body></html>
